.fs_11{
    font-size: 11px;
}
.fs_12{
    font-size: 12px;
}
.fs_14{
    font-size: 14px;
}
.fs_15{
    font-size: 15px;
}
.fs_16{
    font-size: 16px;
}
.fs_17 {
    font-size: 17px;
  }
  .fs_21{
      font-size: 21px;
  }
  .fs_22{
      font-size: 22px;
  }

.fs_25{
    font-size: 25px;
}
.fs_45{
    font-size: 45px;
}

.fs_60{
    font-size: 60px;
}

.font_weight_text_h1 {
  font-weight: 100;
}
/* font-weight-h3 */
.font_weight_h3{
    font-weight: 100;
}
